<!DOCTYPE html>
<html>
  <head>
    <title>simple-web-app</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </head>
  <body>
  </body>
</html>
